body {
    font-family: Gill Sans, sans-serif;
    background-color: #7b3f00;
    text-align: center;
    color: #dfd268;
}

.container {
    display:flex;
    justify-content: space-between;
}

#bear_pic {
    float:left;
    width: 55%;
    height: 55%;
    box-sizing: border-box;
    margin-left: 40px;
    border: 2px black solid;
}

#description {
    float:right;
    width: 40%;
    box-sizing:border-box;
    padding: 20px;
    border:2px black solid;
    font-size: 20px;
}

hr {
    border: 1px solid black;
}