html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Work Sans', sans-serif;
    background-color: #f17836;
    background: url(../pictures/catden.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: white;
    font-style: normal;
}

header {
    height: 50px;
}

.navbar {
    padding: 10px;
    background-color: black;
    display: flex;
    font-size: 30px;
    text-decoration: none;
    color: #fff;
    justify-content: space-evenly;
    position: absolute;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    color: #f17836;
}

.navbar a:active {
    color: red;
}

.animal_dropdown {
    float: left;
    overflow: hidden;
}

.animal_dropdown .drop_button {
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.animal_dropdown .drop_button:hover {
    color: #f17836;
}

.nav-item {
    margin: 0;
    padding: 0;
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
    color: white;
    background-color: black;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown_content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.animal_dropdown:hover .dropdown_content {
    display: block;
  }

.title {
    font-family: 'Lora', serif;
    font-size: 50px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px #000;
}

#sub_heading {
    font-family: 'Lora', serif;
    font-size: 30px;
    color: yellow;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px #000;
}

.animal_container {
    margin-top: 200px;
}

.animal_title {
    font-family: 'Lora', serif;
    font-size: 40px;
    color: orange;
    border-radius: 15px;
    background-color: black;
    box-shadow: 5px 5px orange;
    max-width: fit-content;
    margin: 0 auto;
}

.container {
    display:flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    height: 500px;
    justify-content: center;
}

#cat_pic {
    float:left;
    margin-left: 80px;
    border: 2px black solid;
    border-right: 1px;
    width: 700px;
}

#description {
    float:right;
    width: 700px;
    box-sizing:border-box;
    border:2px black solid;
    font-size: 23px;
    background-color: black;
    color: orange;
}

#text {
    margin: 0 auto;
    position:relative;
    top: 20%;
    bottom: 50%;
}

hr {
    border: 1px solid black;
}

.button {
    padding: 10px 20px;
    background-color: black;
    color: white;
}

.button:hover {
    color: #f17836;
}

.button:active {
    color: red;
}