body {
    font-family: Gill Sans, sans-serif;
    background-color: #d4af47;
    text-align: center;
    line-height: 1.6em;
    background-image: url(../pictures/forest.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: yellow;
}

.resize {
    border: 3px white solid;
    border-radius: 50%;
    height: 20%;
    width: 20%;
}

.animal_title
{
    font-size: 20px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px #000;
}

#title {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px #000;
}

#sub_title {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px #000;
}

