body {
    font-family: 'Noto Serif Display', serif;
    background-color: #d4af47;
    text-align: center;
    line-height: 1.6em;
    background-image: url(../pictures/forest.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: yellow;
}

.navbar {
    padding: 15px;
    background-color: green;
    display: flex;
    font-size: 30px;
    text-decoration: none;
    color: #fff;
}

.nav-item {
    margin: 0;
    padding: 0;
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
    color: white;
}

.nav-item:hover {
    color: yellow;
}

.nav-item:active {
    color: red;
}

.animal_containers {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 80%;
    margin: 0 auto;
}

.container {
    display: grid;
    place-items: center;
}

.tiger_pic {
    flex: 1;
    order: 1;
    width: 325px;
    height: 325px;
    margin: 0 auto;
    border: 3px white solid;
    border-radius: 40%;
    box-sizing: border-box;
    background-image: url(../pictures/tigerpfp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.dino_pic {
    flex: 1;
    order: 2;
    width: 325px;
    height: 325px;
    margin: 0 auto;
    border: 3px white solid;
    border-radius: 40%;
    box-sizing: border-box;
    background-image: url(../pictures/dino.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.bear_pic {
    flex: 1;
    order: 3;
    width: 325px;
    height: 325px;
    margin: 0 auto;
    border: 3px white solid;
    border-radius: 40%;
    box-sizing: border-box;
    background-image: url(../pictures/bearpfp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.animal_title
{   
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 40px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px #000;
    white-space: nowrap;
}

#title {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px #000;
    font-size: 60px;
}

#sub_title {
    margin: 0 auto;
    padding: auto;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px #000;
    font-size: 30px;
}

.back_button {
    padding: 5px 15px;
    background-color: green;
    color: white;
}

