body {
    font-family: Gill Sans, sans-serif;
    background-color: cyan;
    text-align: center;
    line-height: 1.6em;
}

.resize {
    border-radius: 50%;
    height: 20%;
    width: 20%;
}

.animal_title
{
    font-size: 20px;
}

