body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: white;
    text-align: center;
  }

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    color: red;
}

a:active {
    color: white;
}

.container {
    width: 80%;
    margin: auto;
}

.zoo_links {
    border:1px #ccc solid;
	padding:10px;
	border-radius:15px;
}

.zoo_links ul {
    padding: 0;
    padding-left: 30px;
}

.zoo_links li {
    padding-bottom:6px;
	border-bottom:solid 1px #ccc;
    list-style-image: url("Jordan/pictures/catemoji.png");
}

.button {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 10px;
    margin: 2.5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #026c8f; /* Darker blue */
    color: white;
}