body{
    padding: 2px 2px 2px 2px;
    margin: 20px;
}

div{
    background: #a11818;
    font-size: 150%;
    font-family: Arial, Courier, Impact;
    text-align: center;
}

table{
    background: #E5B3E3;
    font-size: 50%;
    text-align: center;
    border-color: beige;
    color: #44666d;
}